<section class="testimonial-section section-padding">
  <div class="container">
    <div class="title-bar text-center">
      <h2 class="title">Clients’ Testimonials</h2>
      <span class="title-border"></span>
    </div>
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#testimonial-carousel" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner " role="listbox">
            <div class="item active">
              <div class="carousel-wrapper">
                <span class="caption">
                  <%= image_tag 'clients/client-asif.jpg' %>
                </span>
                <h3><a href="#">Dr. Muhammad Asif Shahzad and Dr. Bushra Asif </a></h3>
                <ul class="commend">
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p>(Lyell Mcewin Hospital, Adelaide)</p>
                <p class="text-align-justify">
Kaleem and Madeeha have been providing us with taxation and accounting services to ensure we are in compliance with the most recent tax legislation, treaties and incentives. Their expert opinion and advice reflects their wealth of knowledge and expertise in taxation services which is well researched and supported and always delivered in a timely and efficient manner. The best thing about them is the quality time they give to their clients and we can always count on them for tax advice.  
</p>
              </div>
            </div>
            <div class="item">
              <div class="carousel-wrapper">
                <span class="caption">
                  <%= image_tag 'clients/client-kashif.jpg' %>
                </span>
                <h3><a href="#">Dr Kashif B Khokhar </a></h3>
                <ul class="commend">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p>(Royal Adelaide Hospital, Adelaide)</p>
                <p class="text-align-justify">
I was introduced to Mr Kaleem Ulah during a social gathering. I found The Kalculators highly professional and efficient, with a customised approach which is a really unique combination to find in the business environment today. I have no hesitation recommending them. Mr Kaleem runs a great business with a gracious heart, and is indeed a rare breed of an accountant.
</p>
              </div>
            </div>
           
        </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
