<section class="client-section clients-partners">
  <div class="container">
    <div class="title-bar text-center">
      <h2 class="title">Clients And Partners</h2>
      <span class="title-border"></span>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="client-wrapper text-center worldwide-clients">
         <li class='client-images'>
            <%= image_tag 'worldwide9.png' %>
          </li>
          <li class='client-images'>
            <%= image_tag 'worldwide1.jpg' %>
          </li>
           <li class='client-images'>
            <%= image_tag 'worldwide2.png' %>
          </li>
           <li class='client-images'>
            <%= image_tag 'worldwide3.png' %>
          </li>
           <li class='client-images'>
            <%= image_tag 'worldwide4.jpg' %>
          </li>
           <li class='client-images'>
            <%= image_tag 'worldwide5.png' %>
          </li>
           <li class='client-images'>
            <%= image_tag 'worldwide6.png' %>
          </li>
           <li class='client-images'>
            <%= image_tag 'worldwide8.jpg' %>
          </li>
           <li class='client-images'>
            <%= image_tag 'worldwide7.png' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
