<section class="counting-section">
  <div class="container text-center">
      <h2 class="hidden">counting-title</h2>
      <div class="counting-pusher">
        <div class="counting-wrapper">
          <div class="count-description inline-block">
            <span class="timer">3685</span>
          </div>
          <p>Tax Returns</p>
        </div>
        <div class="counting-wrapper">
          <div class="count-description inline-block">
            <span class="timer">172</span>
          </div>
          <p>Family Trusts</p>
        </div>
        <div class="counting-wrapper">
          <div class="count-description inline-block">
            <span class="timer">6899</span>
          </div>
          <p>Happy clients</p>
        </div>
        <div class="counting-wrapper">
          <div class="count-description inline-block">
            <span class="timer">5</span>
          </div>
          <p>years of experience</p>
        </div>
      </div>
  </div>
</section>
