<section class="expert-section certifactions">
  <div class="container">
    <div class="title-bar text-center">
      <h2 class="title">Certifications</h2>
      <span class="title-border"></span>
    </div>
    <div class="expert-carousel owl-carousel owl-theme">
      <div class="expert-wrapper item">
        <div class="expert-caption">
          <%= image_tag 'certifications/certifications.jpg' %>
        </div>
      </div>
    </div>
  </div>
</section>
