<section class="network-section">
  <div class="container">
    <h3>We plan to make that network secure & reliable</h3>
    <a href="#" class="btn btn-primary pull-right">Know More</a>
  </div>
</section>
