<span class="menu-toggle navbar visible-xs visible-sm"><i class="fa fa-bars" aria-hidden="true"></i></span>
<div id="offcanvas-menu" class="visible-xs visible-sm">
  <span class="close-menu"><i class="fa fa-times" aria-hidden="true"></i></span>
  <ul class="menu-wrapper">
    <li class='<%= active_class(:index) %>'>
      <%= link_to 'Home', root_url %>
    </li>
    <li class='<%= active_class(:about) %>'>
      <%= link_to 'About', about_url %>
    </li>
    <li class='<%= active_class(:services) %>'>
      <%= link_to 'Services', services_url %>
    </li>
    <li class='<%= active_class(:team) %>'>
      <%= link_to 'Team', team_url %>
    </li>
    <li class='<%= active_class(:contact) %>'>
      <%= link_to 'Contact', contact_url %>
    </li>
    <li>
      <%= link_to 'Client Portal', 'https://cloud1.sagehandisoft.com.au/ClientPortal/Account/Login/', target: '_blank' %>
    </li>
  </ul>
</div>

<div id="toTop" class="hidden-xs">
  <i class="fa fa-chevron-up"></i>
</div>
