<section class="contact-section overlay-footer <%= footer_class %>">
<div class="contact-section-two">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <div class="contact-wrapper-two">
          <h3 class='contact-adress-1'>SALISBURY</h3>
          <%= render partial: 'locations/salisbury', locals: { footer: true } %>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-md-offset-1">
        <div class="contact-wrapper-two middle-wrapper">
          <h3 class='contact-adress-2'>BLAIR ATHOL</h3>
          <%= render partial: 'locations/prospect', locals: { footer: true } %>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 col-md-offset-1">
        <div class="contact-wrapper-two">
          <h3 class='contact-adress-3'>MURRAY BRIDGE</h3>
          <%= render partial: 'locations/murray_bridge', locals: { footer: true } %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

