<section class="call-to-action section-padding">
  <div class="container">
    <div class="title-bar text-center">
      <h2 class="title">Services We Provide</h2>
      <span class="title-border"></span>
    </div>
    <div class="action-wrapper">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-sm-4">
              <div class="wrapper-content text-center">
                <i class="fa fa-balance-scale" aria-hidden="true"></i>
                <h3>Taxation</h3>
                <%= link_to 'Details', services_url(type: 'taxation') %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="wrapper-content text-center">
                <i class="fa fa-database" aria-hidden="true"></i>
                <h3>Finance</h3>
                <%= link_to 'Details', services_url(type: 'finance') %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="wrapper-content text-center">
                <i class="fa fa-money" aria-hidden="true"></i>
                <h3>Superannuation</h3>
                <%= link_to 'Details', services_url(type: 'super') %>
              </div>
            </div>
          </div>
          <div class="row mt-60">
            <div class="col-sm-6">
              <div class="wrapper-content text-center">
                <i class="fa fa-suitcase" aria-hidden="true"></i>
                <h3>Payroll & Work Cover</h3>
                <%= link_to 'Details', services_url(type: 'payroll') %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="wrapper-content text-center">
                <i class="fa fa-window-restore" aria-hidden="true"></i>
                <h3>Accounting & Business Advice</h3>
                <%= link_to 'Details', services_url(type: 'software') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</section>
