<section class="working-section section-padding">
  <div class="working-section-two">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="section-sidebar">
            <div class="project-part">
              <h4>Services</h4>
              <ul>
                <li id="taxation" class="is_service_active select_service"><a href="javascript:;">Taxation <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li id="finance" class="select_service"><a href="javascript:;">Finance <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li id="super" class="select_service"><a href="javascript:;">Superannuation <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li id="payroll" class="select_service"><a href="javascript:;">Payroll & Work Cover <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li id="software" class="select_service"><a href="javascript:;">Accounting and Business Advise <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="working-rightbar text-align-justify">
            <div id="taxation-content" class="services-content ">
              <h3>Taxation</h3>
              <p>The Kalculators help you regain control of your individual or business tax returns and provide tax advice to our clients all over Australia. We understand the complexities of taxation, and give you the peace-of-mind that comes with having an expert handle everything for you.</p> 
              <p>We make tax simple. In a complex world with frequent changes in legislation, our team of experienced tax accountants help you to better understand your past and future tax implications. We help our clients with friendly, clear and concise tax discussions and pro-actively make suggestions to improve your financial situation. We provide the following services:</p>
              <ul>
                <li><i class="fa fa-square" aria-hidden="true"></i> ABN Registration</li>
                <li><i class="fa fa-square" aria-hidden="true"></i> Preparation and lodgement of Tax Returns</li>
                <li><i class="fa fa-square" aria-hidden="true"></i> Preparation and lodgement of Business Activity Statements for GST</li>
                <li><i class="fa fa-square" aria-hidden="true"></i> Preparation and lodgement of late tax returns</li>
                <li><i class="fa fa-square" aria-hidden="true"></i> Remissions of ATO debts </li>
                <li><i class="fa fa-square" aria-hidden="true"></i> Making objections on your behalf to the ATO</li>
              </ul>
             </div>
              <div id="finance-content" class="services-content hide">
                <h3>Finance & Business Plans for Loans</h3>
                <p>We offer more than just quality accounting and tax - we offer a proactive, customised and total solution to give you concrete ways of retaining more of your earnings/profit and protect your assets with the aim of ensuring your peace-of-mind.</p> 
                <p>With extensive hands-on experience, our certified team of accountants knows the ins and outs of small businesses, and the challenges they face; both the issues and the opportunities. We understand the pressures that small business owners face and have the expertise to strategically fill organisational gaps, reduce costs and maximise profits.</p>
                <p>We focus on the fundamentals of planning and operations to identify and eliminate impediments within your business model. By strengthening administrative processes, developing organisational efficiencies, reducing current/potential risks and improving cash-flow we are able to offer our clients the freedom, expertise and confidence to grow.</p>
                <p>The Kalculators offer a comprehensive range of consultancy and business solutions to ensure your business growth has stable and solid foundations. From the initial consultation through to implementation, our services are planned and designed to save you money and time, as well as increase the value of your investments.</p>
             </div>
              <div id="super-content" class="services-content hide">
                <h3>Superannuation</h3>
                <p>Superannuation, like all areas of the business cycle, involved a great degree of compliance. Whether it is an external fund, or a Self-Managed Super Fund (SMSF) – all funds must comply with current legislation and regulations. This means there is a large administrative aspect of maintaining documents, monitoring contributions, report preparation and for SMSFs and additional annual audit.</p> 
                <p>When focused on the above – it takes over your valuable time, which you could otherwise invest into yourself and your business. Our superannuation services can relieve your burden of compliance. This includes:</p>
                <ul>
                  <li><i class="fa fa-square" aria-hidden="true"></i> Preparation & lodgement of end-of-year accounts/income tax returns</li>
                 <li><i class="fa fa-square" aria-hidden="true"></i> Business Activity Statements</li>
                </ul>
              </div>
              <div id="payroll-content" class="services-content hide">
                <h3>Payroll & Work Cover</h3>
                <p>Payroll comes with a few dimensions, such as employee record management, processing of salaries/wages/invoices, work-cover and withholding PAYG. The Kalculators are equipped to handle all these dimensions for you at competitive prices, where we take charge of the processes for you – or assist you in taking charge – depending on the solution that best suits your needs.</p> 
                <p>Our services include:</p>
                <ul>
                  <li><i class="fa fa-square" aria-hidden="true"></i> Setting up payroll software</li>
                  <li><i class="fa fa-square" aria-hidden="true"></i> Employee record management</li>
                  <li><i class="fa fa-square" aria-hidden="true"></i> Calculation/payment of PAYG withholding and work-cover</li>
                  <li><i class="fa fa-square" aria-hidden="true"></i> Calculation/payment of superannuation</li>
                  <li><i class="fa fa-square" aria-hidden="true"></i> Calculation/payment of wages/salaries/invoices</li>
                  <li><i class="fa fa-square" aria-hidden="true"></i> Reporting requirements and payment summaries</li>
                </ul>
              </div>
              <div id="software-content" class="services-content hide">
                <h3>Accounting and Business Advise</h3>
                <p>When it comes to accounting software, The Kalculators believe in solutions catered to the individual or business and their unique business structure. The one-size-fits-all approach is irrelevant in the complex and dynamic environment we operate in today, and you can trust The Kalculators to find/implement what works for you.</p> 
                <p>We provide the following services for businesses:</p>
                <ul>
                  <li><i class="fa fa-square" aria-hidden="true"></i> Setting up the most suitable and tax effective business structure according to your circumstances (Sole Trader, Trust, Partnership, Company)</li>
                  <li><i class="fa fa-square" aria-hidden="true"></i> Specialist software advice, setup and training – catered to your business structure.</li>
                  <li><i class="fa fa-square" aria-hidden="true"></i> TFN and ABN Registration</li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
