<section class="slider-section">
  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-thumb="<%= image_tag 'mainimageslider.jpg' %>" data-delay="13000" data-title="We are the kalculators" >
          <%= image_tag 'mainimageslider.jpg', data: {bgposition: "top center", bgfit:"cover", bgrepeat:"no-repeat"} %>
          <div class="tp-caption large-text text-left customin customout"
              data-x="0"
              data-y="260"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="1800"
              data-start="500"
              data-easing="Power3.easeInOut"
              data-splitin="chars"
              data-splitout="chars"
              data-elementdelay="0.08"
              data-endelementdelay="0.08"
              data-end="8000"
              data-endspeed="500"
              style="z-index: 2;color: black;"
              > <h1>We listen, we advise. </br> We are here for you.</h1>
          </div>

          <div class="tp-caption small-text text-left customin customout rs-parallaxlevel-0"
              data-x="0" 
              data-y="550"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="2000"
              data-start="3300"
              data-easing="Power3.easeInOut"
              data-splitin="none"
              data-splitout="none"
              data-end="11000"
              data-endspeed="2000"
              data-linktoslide="next"
              style="z-index: 8;color: black;"> 
              Planning to prepare your tax return? Consider it done!
          </div>

          <div class="tp-caption lfb ltt"
              data-x="0"
              data-y="675"
              data-speed="1800"
              data-start="4500"
              data-easing="Power4.easeOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.1"
              data-end="12000"
              data-endspeed="1800"
              data-endeasing="Power4.easeIn"
              style="z-index: 3;color: black;">
              <div class="link-button hidden-xs">
                <%= link_to 'About Us', about_url, class: 'btn btn-primary' %>
                <%= link_to 'Contact', contact_url, class: 'btn btn-default' %>
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
