<section class="consulting-section section-padding">
  <div class="container">
    <div class="title-bar text-center team-main-section">
      <h2 class="title">Our Team</h2>
      <span class="title-border"></span>
    </div>
    <div id="consulting-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#consulting-carousel" data-slide-to="0" class="active">
          <%= image_tag 'team/team-ks.jpg', alt:"team"  %>
        </li>
        <li data-target="#consulting-carousel" data-slide-to="1" class="">
          <%= image_tag 'team/team-ms.jpg', alt:"team"  %>
        </li>
        <li data-target="#consulting-carousel" data-slide-to="2" class="">
          <%= image_tag 'team/team-ss.jpg', alt:"team"  %>
        </li>
        <li data-target="#consulting-carousel" data-slide-to="3" class="">
           <%= image_tag 'team/team-v-s.jpg', alt:"team" %>
        </li>
        <li data-target="#consulting-carousel" data-slide-to="4" class="">
          <%= image_tag 'team/team-am-s.jpg', alt:"team" %>
        </li>
        <li data-target="#consulting-carousel" data-slide-to="5" class="">
          <%= image_tag 'team/team-ammar-s.jpg', alt:"team" %>
        </li>
        <li data-target="#consulting-carousel" data-slide-to="6" class="">
          <%= image_tag 'team/team-annayat-s.jpg', alt:"team" %>
        </li>
      </ol>
      <div class="carousel-inner text-align-justify" role="listbox">
        <div class="item active">
          <div class="row">
            <div class="col-sm-5">
              <span class="consulting-caption">
                 <%= image_tag 'team/team-k.jpg', alt:"team" %>
              </span>
            </div>
            <div class="col-sm-7">
              <div class="content-wrapper">
                <h3>Kaleem Ulah</h3>
                <span class="position">Principal and Registered Tax Agent</span>
                <p>Kaleem is one of the founding members of The Kalculators. He is known and recognised across South Australia as possessing some of the highest technical skill levels across the areas of accounting, taxation, financial planning and business analysis. </p>
                <p>
                Kaleem’s down-to-Earth, approachable and friendly personality is a winner amongst clients. With over a decade of experience in the accounting industry, he remains a valuable asset to both The Kalculators, and as well as his loyal clients.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-5">
              <span class="consulting-caption">
                 <%= image_tag 'team/team-m.jpg', alt:"team"  %>
              </span>
            </div>
            <div class="col-sm-7">
              <div class="content-wrapper">
                <h3>Madeeha Usman</h3>
                <span class="position">Senior Consultant</span>
                <p>Madeeha is a Chartered Accountant as well as Kalculator’s Sage Champion and trainer. She has extensive experience with the renowned Big-4 firms, and retains expert status as an expert in Taxation, Auditing and Business Advisory. Madeeha has been working in the financial services industry for several years and is the Head of Kalculator’s Salisbury Office.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-5">
              <span class="consulting-caption">
                <%= image_tag 'team/team-s.jpg', alt:"team"  %>
              </span>
            </div>
            <div class="col-sm-7">
              <div class="content-wrapper">
                <h3>Saki Jameson</h3>
                <span class="position">Tax Specialist</span>
                <p>Saki is an experienced Tax Specialist and his friendly and efficient work ethic ensures strong client relationships and high quality professional service for our clients.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-5">
              <span class="consulting-caption">
                <%= image_tag 'team/team-v.jpg', alt:"team"  %>
              </span>
            </div>
            <div class="col-sm-7">
              <div class="content-wrapper">
                <h3>Jiawei Wu (Vincent)</h3>
                <span class="position">Tax Accountant</span>
                <p>Vincent is one of our delightful and hard-working graduate accountants. Having completed his degree, he is on the road to commence the Chartered Accounting Program in 2017.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-5">
              <span class="consulting-caption">
                <%= image_tag 'team/team-am.jpg', alt:"team"  %>
              </span>
            </div>
            <div class="col-sm-7">
              <div class="content-wrapper">
                <h3>Sahar Amin</h3>
                <span class="position">Marketing Manager</span>
                <p>Sahar is the Marketing and PR Coordinator at The Kalculators, and holds experience in client relations, marketing campaigns and crisis management.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-5">
              <span class="consulting-caption">
                <%= image_tag 'team/team-ammar.jpg', alt:"team"  %>
              </span>
            </div>
            <div class="col-sm-7">
              <div class="content-wrapper">
                <h3>Muhammad Ammar</h3>
                <span class="position">Graduate Accountant</span>
                <p>Ammar is a Certified Accounting Technician and has recently joined our team as an Accounts Assistant in the Salisbury office. He is currently working towards his Bachelors degree and is meticulously making a mark in the firm.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-5">
              <span class="consulting-caption">
                <%= image_tag 'team/team-annayat.jpg', alt:"team"  %>
              </span>
            </div>
            <div class="col-sm-7">
              <div class="content-wrapper">
                <h3>Hafiz Anayat Ullah</h3>
                <span class="position">Graduate Accountant</span>
                <p>Hafiz is a consummate professional and upholds the standard of The Kalculators to provide outstanding accounting and taxation services to all our clients. The atmosphere he creates when greeting existing and new clients expounds the friendly, professional persona that our team has become renowned for.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
