<section class="working-section section-padding">
  <div class="working-section-two">
    <div class="container">
      <div class="header">
        <div class="row">
          <div class="col-sm-3">
            <h2>Things We <br>Know</h2>
          </div>
          <div class="col-sm-9">
            <p>
              We advise global leaders on their most critical issues and opportunities: strategy, marketing, or ganization, operations, technology and mergers & acquisitions, across all industries and geographies.
            </p>
          </div>
        </div>
      </div>
      <div class="section-wrapper">
        <div class="row">
          <div class="col-sm-4">
            <div class="wrapper-content">
              <%= image_tag 'slider1.jpg' %>       
              <h3>Secured network monitoring & vulnerablity research</h3>
              <a href="#" class="link">More info <i class="fa fa-sort-asc" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="wrapper-content">
              <%= image_tag 'slider1.jpg' %>       
              <h3>Secured network monitoring & vulnerablity research</h3>
              <a href="#" class="link">More info <i class="fa fa-sort-asc" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="wrapper-content">
              <%= image_tag 'slider1.jpg' %>
              <h3>Secured network monitoring & vulnerablity research</h3>
              <a href="#" class="link">More info <i class="fa fa-sort-asc" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
