<section class="banner-section">
  <div class="container">
    <div class="header-title text-center">
      <h2 class="title"></h2>
    </div>
  </div>
</section>
<section class="working-section company-overview">
  <div class="container">
    <div class="title-bar text-center">
      <h2 class="title">Company Overview</h2>
      <span class="title-border"></span>
    </div>
    <div class="section-wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="wrapper-content text-align-justify">
            <h3>
              Who We Are
            </h3>
            <p>
              We are ‘The Kalculators’ – a firm that comprises of specialised, certified, professional accountants on a mission to deliver an extensive range of accountancy services. With over 10 years’ experience in providing accounting, taxation and advisory services to a diverse clientele, we are committed to the highest degree of service excellence and the utmost integrity at all times.
            </p>
            <h3>
              Why Us
            </h3>
            <p>
              In the complex, often multi-jurisdictional and technical world of tax, you need tailored and practical advice – and that’s what we deliver. The one-size-fits-all approach is no longer relevant in today’s complex business environment, and as such - the key word with us is ‘tailored’ advice – we believe in customised solutions. Don’t settle for a tax advisor that just ticks a few boxes.
            </p>
            <h3>
              Our Journey
            </h3>
            <p>
              Since 2011, we have come a long way in our journey of excellence in financial services. Developments over the past years mean we are moving towards an expanded physical presence, a bigger team and a new name that better represents what we have to offer to our valued clients. We began with one office, and are excited to now welcome our third office – and larger head office too. The name ‘Kalculators’ was established after our founding Member and our leading accountant Kaleem Ulah – known as ‘Kal’ by his clients).
            </p>
            <h3>
              Our Mission
            </h3>
            <p>
              We are out to make efficiency, excellence and integrity a norm when it comes to what our clients expect of us. We care about your business growth, and our point of difference remains in customising our services to your needs – whether you are an individual, sole-trader or business.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render partial: 'locations/contact' %>
