<section class="banner-section contact-banner-section">
  <div class="container">
    <div class="header-title text-center">
      <h2 class="title"></h2>
    </div>
  </div>
</section>
<%= render partial: 'locations/contact' %>
