        <div id="main-wrapper">

            <header class="header-section">
                <div class="top-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <a class="logo" href="index.html">
                                    <%= image_tag 'logo.png' %>
                            </div>

                            <div class="col-md-6 col-md-offset-1 col-sm-6">
                                <div class="header-left-bar text-right hidden-sm hidden-xs">
                                    <ul class="contact-wrapper">
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> Mon - Fri: 9 am - 7 pm</li>
                                        <li><i class="fa fa-mobile" aria-hidden="true"></i> +123 (456) 789 012</li>
                                    </ul>
                                </div> <!-- header-left-bar -->
                            </div>

                            <div class="col-md-2 col-sm-12">
                                <div class="header-right-bar hidden-sm hidden-xs">
                                    <ul class="social-icon">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div> <!-- header-right-bar -->
                            </div>
                        </div> <!-- top-bar -->
                    </div>
                </div> <!-- top-bar -->
                

                <div class="container">
                    <nav class="navbar navbar-inverse hidden-sm hidden-xs">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active dropdown"><a href="#">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="index.html">Home One</a></li>
                                        <li class="active"><a href="index-two.html">Home Two</a></li>
                                        <li><a href="index-three.html">Home Three</a></li>
                                        <li><a href="index-four.html">Home Four</a></li>
                                        <li><a href="#">Single-Home</a>
                                            <ul class="sub-dropdown">
                                                <li><a href="single-one.html">Home-1</a></li>
                                                <li><a href="single-two.html">Home-2</a></li>
                                                <li><a href="single-three.html">Home-3</a></li>
                                                <li><a href="single-four.html">Home-4</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li><a href="about.html">About</a></li>

                                <li class="dropdown"><a href="#">Service <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="service-grid.html">Service Grid</a></li>
                                        <li><a href="service-sidebar.html">Service Sidebar</a></li>
                                        <li><a href="service-single.html">Service Single</a></li>
                                    </ul>
                                </li>

                                <li class="megadrop"><a href="#">Mega menu <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="megamenu">
                                        <li>
                                            <div id="menu-carousel" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#menu-carousel" data-slide-to="0" class="active"></li>
                                                    <li data-target="#menu-carousel" data-slide-to="1"></li>
                                                    <li data-target="#menu-carousel" data-slide-to="2"></li>
                                                </ol>

                                                <div class="carousel-inner" role="listbox">
                                                    <div class="item active">
                                    <%= image_tag 'logo.png' %>

                                                    </div>

                                                    <div class="item">
                                    <%= image_tag 'logo.png' %>

                                                    </div>

                                                    <div class="item">
                                    <%= image_tag 'logo.png' %>
                                                    </div>
                                                </div>
                                            </div> <!-- menu-carousel -->
                                            

                                            <div class="content">
                                                <h4>Online Contact</h4>
                                                <span class="number"><i class="fa fa-phone" aria-hidden="true"></i> +123 456 789</span>
                                                <span class="message"><i class="fa fa-envelope" aria-hidden="true"></i> Example@gmail.com</span>
                                            </div>
                                        </li>

                                        <li class="mega-submenu">
                                            <ul class="dropdown">
                                                <li><a href="box-one.html">Box Layout One</a></li>
                                                <li><a href="box-two.html">Box Layout Two</a></li>
                                                <li><a href="box-three.html">Box Layout Three</a></li>
                                                <li><a href="box-four.html">Box Layout Four</a></li>
                                                <li><a href="index-video.html">Video Home page</a></li>
                                                <li><a href="index-parallax.html">Parallax Home page</a></li>
                                            </ul>
                                        </li>

                                        <li class="mega-submenu2">
                                            <ul class="dropdown">
                                                <li><a href="team.html">Team Default</a></li>
                                                <li><a href="team-two.html">Team Second</a></li>
                                                <li><a href="team-sigle.html">Team Single</a></li>
                                                <li><a href="career.html">Career Page</a></li>
                                                <li><a href="career-vacancy.html">Career Vacancy</a></li>
                                                <li><a href="history.html">History Page</a></li>
                                            </ul>
                                        </li>

                                        <li class="mega-submenu3">
                                            <ul class="dropdown">
                                                <li><a href="case-study-grid.html">Case Study Grid</a></li>
                                                <li><a href="case-study-list.html">Case Study List</a></li>
                                                <li><a href="case-study-single.html">Case Study Single</a></li>
                                                <li><a href="faq.html">Faq Page</a></li>
                                                <li><a href="partners.html">Partner Page</a></li>
                                                <li><a href="testimonial.html">Testimonial Page</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown"><a href="#">Blog <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-list.html">Blog List</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>

                                <li class="mapdrop"><a href="contact.html">Contact</a>
                                    <ul class="map-menu">
                                        <li>
                                            <div class="author-details">
                                                <h4>HR Department</h4>
                                                <div class="item">
                                                    <span class="caption pull-left"><
                                                    
                                    <%= image_tag 'logo.png' %>
                                                    </span>

                                                    <div class="content">
                                                        <h5>Tahira tuzzohora</h5>
                                                        <span class="number"><i class="fa fa-phone" aria-hidden="true"></i> +123 456 789</span>
                                                        <span class="message"><i class="fa fa-envelope" aria-hidden="true"></i> Example@gmail.com</span>
                                                    </div>
                                                </div>
                                            </div> <!-- author-details -->

                                            <div class="author-details">
                                                <h4>Sales Department</h4>
                                                <div class="item">
                                                    <span class="caption pull-left">
                                    <%= image_tag 'logo.png' %>
                                                    </span>

                                                    <div class="content">
                                                        <h5>Hasib sharif</h5>
                                                        <span class="number"><i class="fa fa-phone" aria-hidden="true"></i> +123 456 789</span>
                                                        <span class="message"><i class="fa fa-envelope" aria-hidden="true"></i> Example@gmail.com</span>
                                                    </div>
                                                </div>
                                            </div> <!-- author-details -->
                                        </li>

                                        <li>
                                            <div class="map-section pull-right">
                                                <div id="menuMap"></div>
                                            </div> <!-- map-section -->
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="access navbar-right">
                                <li><i class="fa fa-key" aria-hidden="true"></i></li>
                                <li><a href="#">Login</a> /</li> 
                                <li><a href="#">Register</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </nav>
                </div> <!-- container -->
            </header> <!-- header-section -->
</div>
