<p>Hy</p>
<div>
  We have been contacted by a person with following details
  <div>
    <%= "Name: #{@data[:name]}" if @data[:name].present? %>
  </div>
  <div>
    <%= "Email: #{@data[:email]}" if @data[:email].present? %>
  </div>
  <div>
    <%= "Message: #{@data[:message]}" if @data[:message].present? %>
  </div>
  </div>
</div>
