

.about-page .header-section .top-bar {
  background-color: #FFFFFF;
  border: 0;
  padding: 40px 0 48px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-page .header-section .top-bar {
    padding: 20px 0;
  }
}

.about-page .header-section .top-bar .header-left-bar {
  margin-right: 50px;
}

.about-page .header-section .top-bar .header-left-bar ul li {
  border: 0;
  padding: 0;
  vertical-align: -webkit-baseline-middle;
}

.about-page .header-section .top-bar .header-left-bar ul li i {
  color: #3498db;
}

@media only screen and (max-width: 991px) {
  .about-page .header-section .top-bar .header-left-bar {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .about-page .header-section .top-bar .header-left-bar {
    text-align: center;
  }
}

.about-page .header-section .top-bar .header-right-bar .social-icon li {
  display: inline-block;
  margin-right: 12px;
  padding: 0;
  border: 0;
  vertical-align: -webkit-baseline-middle;
}

.about-page .header-section .top-bar .header-right-bar .social-icon li:last-child {
  margin-right: 0;
}

.about-page .header-section .top-bar .header-right-bar .social-icon li i {
  padding: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-page .header-section .top-bar .header-right-bar .social-icon li {
    margin-right: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-page .header-section .top-bar .header-right-bar {
    text-align: center;
    margin-top: 10px;
  }
}

.about-page .header-section .navbar {
  background-color: #3498db;
  margin-top: -25px !important;
  padding: 0 50px;
}

.about-page .header-section .navbar.sticky {
  top: 25px;
  background-color: #FFFFFF;
  padding: 0;
}

.about-page .header-section .navbar.sticky .navbar-collapse {
  width: 1170px;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 15px;
}

.about-page .header-section .navbar.sticky .navbar-collapse .access {
  color: #222;
}

.about-page .header-section .navbar.sticky .navbar-collapse .access li a {
  color: #222;
}

.about-page .header-section .navbar.sticky .navbar-collapse .access li a:hover {
  color: #3498db;
}

@media (min-width: 992px) and (max-width: 1250px) {
  .about-page .header-section .navbar.sticky .navbar-collapse {
    width: 970px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-page .header-section .navbar.sticky .navbar-collapse {
    width: 750px;
  }
}

.about-page .header-section .navbar .navbar-collapse .navbar-nav li.active a, .about-page .header-section .navbar .navbar-collapse .navbar-nav li:hover a {
  color: #031633;
}

.about-page .header-section .navbar .navbar-collapse .navbar-nav li .dropdown li a {
  color: #676767;
}

.about-page .header-section .navbar .navbar-collapse .navbar-nav li .dropdown li a:hover {
  color: #3498db;
}

.about-page .header-section .navbar .navbar-collapse .navbar-nav li .dropdown li.active a {
  color: #3498db;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-page .header-section .navbar .navbar-collapse .navbar-nav li {
    padding-right: 20px;
  }
}

.about-page .header-section .navbar .navbar-collapse .access {
  color: #FFFFFF;
  margin: 0;
}

.about-page .header-section .navbar .navbar-collapse .access li {
  font-size: 18px;
  line-height: 70px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 3px;
}

.about-page .header-section .navbar .navbar-collapse .access li a {
  color: #FFFFFF;
}

.about-page .header-section .navbar .navbar-collapse .access li a:hover {
  color: #031633;
}

@media only screen and (max-width: 991px) {
  .about-page .header-section .navbar .navbar-collapse .access {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-page .header-section .navbar .navbar-collapse {
    margin: 0;
  }
}

.about-page .call-to-action {
  background-color: #f6f6f6;
}

.about-page .call-to-action::before {
  background: asset_url('services.jpg') no-repeat;
  height: 830px;
}

.about-page .call-to-action::after {
  background: rgba(0, 0, 0, 0.5);
  height: 830px;
}

.about-page .research-section {
  background-color: #f6f6f6;
}

.about-page .research-section .research-caption {
  position: relative;
}

.about-page .research-section .research-caption img {
  width: 100%;
}

.about-page .research-section .research-caption .caption-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 190, 115, 0.88);
}

.about-page .research-section .research-caption .caption-box img {
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -40px;
}

.about-page .research-section .research-content .content-bar {
  margin: 0 0 0 5px;
}

@media only screen and (max-width: 991px) {
  .about-page .research-section .research-content .content-bar {
    margin: 50px 0 0 0;
  }
}

.about-page .research-section .research-content .content-bar h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}

.about-page .research-section .research-content .content-bar p {
  margin-bottom: 35px;
}

.about-page .research-section .research-content .content-bar .panel-group {
  margin: 0;
}

.about-page .research-section .research-content .content-bar .panel-group .panel {
  border: 0;
  box-shadow: none;
  background-color: transparent;
  border-radius: 25px;
  margin-bottom: 10px;
}

.about-page .research-section .research-content .content-bar .panel-group .panel .panel-heading {
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 15px 30px;
}

.about-page .research-section .research-content .content-bar .panel-group .panel .panel-heading .panel-title {
  font-size: 20px;
}

.about-page .research-section .research-content .content-bar .panel-group .panel .panel-heading .panel-title a {
  color: #031633;
}

@media only screen and (max-width: 479px) {
  .about-page .research-section .research-content .content-bar .panel-group .panel .panel-heading .panel-title {
    font-size: 16px;
  }
}

.about-page .research-section .research-content .content-bar .panel-group .panel .panel-collapse .panel-body {
  font-size: 18px;
  line-height: 30px;
  border: 0;
  background-color: transparent;
  padding: 20px 30px 10px;
}

.about-page .research-section .research-content .content-bar .panel-group .panel .panel-collapse i {
  position: relative;
  left: -30px;
  top: -37px;
}

@media only screen and (max-width: 479px) {
  .about-page .research-section .research-content .content-bar .panel-group .panel .panel-collapse i {
    top: -32px;
  }
}

.about-page .research-section .research-content .content-bar .panel-group .panel i {
  font-size: 12px;
  background-color: #3498db;
  color: #FFFFFF;
  vertical-align: top;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.about-page .research-section .research-content .content-bar .link {
  display: block;
  font-size: 18px;
  margin-top: 15px;
}

.about-page .research-section .research-content .content-bar .link i {
  font-size: 20px !important;
  position: inherit !important;
  vertical-align: middle !important;
  background-color: transparent !important;
  color: #3498db !important;
  padding-left: 5px;
}

.about-page .network-section {
  background: #eaf1f2;
  padding: 50px 0;
}

.about-page .network-section h3 {
  font-size: 36px;
  line-height: 48px;
  display: inline-block;
  margin-bottom: 0;
}

@media only screen and (max-width: 1200px) {
  .about-page .network-section {
    text-align: center;
  }
  .about-page .network-section .btn {
    float: none !important;
    margin-top: 30px;
  }
}

.about-page .contact-section h3 {
  font-size: 36px;
  line-height: 48px;
  display: inline-block;
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .about-page .contact-section {
    text-align: center;
  }
  .about-page .contact-section .btn {
    float: none !important;
    margin-top: 30px;
  }
}

.about-page .query-contact-section {
  background: asset_url('footer.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 0; 
  
  }

