.worldwide-clients img, .logo {
  width: 100%;
}

.client-images {
  width: 220px;
  height: 150px;
}


@media only screen and (max-width: 767px) {
  .about-page .header-section .top-bar {
    padding: 15px 45px;
    display: block !important;
  }
  .about-page .header-section .top-bar img {
    width: 200px; 
  }

  .about-page .call-to-action::before {
  background: asset_url('services.jpg') no-repeat;
  height: 1300px !important;
  background-size: cover;
}
.service-single-page .banner-section {
  background: asset_url('s-bg.jpg') no-repeat;
  background-position: right 50px;
  background-size: cover;
}
}

.overlay-footer h3{
  font-size: 25px !important;
}

.contact-adress-1 {
  padding-left: 60px;
}

.contact-adress-2 {
  padding-left: 50px;
}

.contact-adress-2 {
  padding-left: 20px;
}

.about-page .padding-footer, .about-page .google-map-contact-section {
  margin-top: 130px;
}

.company-overview {
  padding-top: 130px;
}

.contact-submisson {
  color: green;
  font-size: 18px;
  padding-bottom: 15px;
}

.call-to-action a:hover, .call-to-action a:focus, .copyright-section a:hover, .copyright-section a:focus {
  color: #0567a9;
}

.contact-section .contact-section-two .contact-wrapper-two .location li i {
  padding: 0px 35px 22px 0;
  line-height: 28px;
  font-size: 25px;
}

.contact-section .contact-section-two .contact-wrapper-two .location li.email .text {
  font-size: 15px;
}

@media (max-width: 1680px) and (min-width: 991px) {
  .header-section .navbar .navbar-collapse .navbar-nav li .map-menu {
    left: 0px;
  }
}

.company-overview .title-bar .title {
  margin-bottom: 0px;
}

.company-overview .wrapper-content {
  margin-top: 60px !important;
}

.company-overview .section-sidebar .contact-part {
  margin-top: 250px;
}

.google-map-contact {
  height: 800px !important;
}

.footer-wrapper .page-link li a {
  font-size: 35px;
}

.footer-wrapper .social-media {
  padding-top: 50px;
}

.consulting-section #consulting-carousel .carousel-indicators li.active {
  border-radius: 50%;
}

@media only screen and (max-width: 991px) {
  .company-overview .section-sidebar .contact-part {
    margin-top: 0px;
  }
  .google-map-contact-section .section-one-wrapper {
    max-height: 1000px;
    overflow: auto;
  }
}
@media only screen and (min-width: 991px) {
.spacer {
  height:1px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .overlay-footer h3 {
    font-size: 24px !important
  }
  .contact-section .contact-section-two .contact-wrapper-two .location li.email .text {
    font-size: 11px;
  }
}

.team-main-section .title{
  margin-bottom: 50px;
}

.contact-banner-section {
  background: asset_url('contact.jpg') no-repeat !important;
  background-position: center top !important;
  background-size: cover !important;
}

.services-banner-section {
  background: asset_url('services_banner.jpg') no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

#offcanvas-menu .menu-wrapper li a:hover, #offcanvas-menu .menu-wrapper li a:focus, #offcanvas-menu .menu-wrapper li.active a {
  color: #3498db;
}

#footer li a:hover, #footer li a:focus, #footer li.active a {
  color: #3498db;
}

.text-align-justify{
  text-align:justify;
}

.certifactions .expert-caption img {
  width: 100%;
}

.contactheading {
  color: #3498db;
  font-weight: 400;
  padding-top: 20px;
  font-size:larger;
}

.salisbury-contactheading {
  padding-top:0px;
}

.contact-section .contact-section-one .section-one-wrapper .contact-wrapper .location li:nth-child(2) {
  margin-top: 10px;
}

.clients-partners {
  padding-top: 130px;
}

@media only screen and (max-width: 768px) {
  .testimonial-section  .title-bar .title {
    margin-bottom: 50px;
  }
}

.header-title .title {
  margin-top: 100px;
}

.slider-section .small-text, .slider-section .large-text {
  font-family: Arial, "Helvetica", sans-serif !important;
}
