<section class="contact-section google-map-contact-section">
  <div class="map-section">
    <div id="googleMap" class='google-map-contact'></div>
  </div>
  <div class="contact-section-one">
    <div class="container">
      <div class="section-one-wrapper">
          <div class="row">
              <h3>Contact our support guys or make appointment <br> with our consultants</h3>
              <div class="col-md-7 section-left">
                  <div class="contact-wrapper">
                    <p>Please contact us using the information below. For additional information on our services, please call at given numbers.</p>
                    <h4 class="contactheading salisbury-contactheading">SALISBURY</h4>
                    <%= render partial: 'locations/salisbury', locals: { footer: false } %>
                     <h4 class="contactheading">BLAIR ATHOL</h4>
                    <%= render partial: 'locations/prospect', locals: { footer: false } %>
                     <h4 class="contactheading">MURRAY BRIDGE</h4>
                    <%= render partial: 'locations/murray_bridge', locals: { footer: false } %>
                  </div>
              </div>
              <div class="col-md-5 contact-submission-form">
                  <div class='contact-submisson text-center'></div>
                  <div class="contact-wrapper">
                      <%= form_tag(contact_submission_path, method: :post, remote: true) do |f| %>
                      <form class="contact-form">
                          <div class="form-group">
                            <%= text_field_tag :name, '', id: 'inputName', class: 'form-control', placeholder: 'Name', required: true %>
                          </div>
                          <div class="form-group">
                            <%= email_field_tag :email, '', id: 'contactSearchBar', class: 'form-control', placeholder: 'Email' %>
                          </div>
                          <div class="form-group">
                            <%= text_area_tag :message, '', class: 'form-control', placeholder: 'Message', required: true %>
                          </div>
                          <div class="form-group">
                             <%= submit_tag 'Submit', class: 'subscribeBtn btn btn-primary' %>
                          </div>
                      <% end %>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
