<ul class="location" data-location='2'>
  <li>
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <% if footer == true %>
      <span class="text">92A Mannum Road, <br> Murray Bridge SA, 5253</span>
   <% else %>
    <div class="content">
      <span class="text">92A Mannum Road, <br> Murray Bridge SA, 5253</span>
      <span class="map-view"><i class="fa fa-street-view" aria-hidden="true"></i> view on map</span>
    </div>
   <% end %>
  </li>
  <li>
    <i class="fa fa-phone" aria-hidden="true"></i>
    <span class="text">(08) 7480 2593</span>
  </li>
  <li class='email'>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <span class="text">hafiz@thekalculators.com.au</span>
  </li>
</ul>
