<ul class="location" data-location='1'>
  <li>
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <% if footer == true %>
      <span class="text">315 Prospect Road, <br> Blair Athol, 5084</span>
   <% else %>
    <div class="content">
      <span class="text">315 Prospect Road, <br> Blair Athol, 5084</span>
      <span class="map-view"><i class="fa fa-street-view" aria-hidden="true"></i> view on map</span>
    </div>
   <% end %>
  </li>
  <% if footer == false %>
    <li>
      <i class="fa fa-mobile" aria-hidden="true"></i>
      <span class="text">0430 858 990<br></span>
    </li>
  <% end %>
  <li>
    <i class="fa fa-phone" aria-hidden="true"></i>
    <span class="text">(08) 7480 2593</span>
  </li>
  <li class='email'>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <span class="text">kaleem@thekalculators.com.au</span>
  </li>
</ul> 
