<ul class="location" data-location='0'>
  <li>
    <i class="fa fa-map-marker" aria-hidden="true"></i>
  <% if footer == true %>
      <span class="text">182 Salisbury Highway, <br> Salisbury, 5108</span>
   <% else %>
    <div class="content">
      <span class="text">182 Salisbury Highway, <br> Salisbury, 5108</span>
      <span class="map-view"><i class="fa fa-street-view" aria-hidden="true"></i> view on map</span>
    </div>
   <% end %>
  </li>
  <% if footer == false %>
    <li>
      <i class="fa fa-mobile" aria-hidden="true"></i>
      <span class="text">0420 459 767</span>
    </li>
  <% end %>
  <li>
    <i class="fa fa-phone" aria-hidden="true"></i>
    <span class="text">(08) 7480 2593</span>
  </li>
  <li class='email'>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <span class="text">madeeha@thekalculators.com.au</span>
  </li>
</ul>

