<div class="spacer">

</div>
<footer class="footer-section" id='footer'>
  <div class="container">
    <div class="footer-part">
      <div class="row">
        <div class="col-sm-8 col-md-4">
          <div class="footer-wrapper">
            <span class="footer-logo">
              <%= link_to root_url do %>
                <%= image_tag 'logo-white.jpg', class: 'logo' %>
              <% end %>
            </span>
            <p class='text-center'>Taxation Services</p>
            <ul class="time-part text-center">
              <li><span>Mon - Fri</span>: 9am - 7pm</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="footer-wrapper">
            <ul class="page-link">
              <li class="text-center <%= active_class(:index) %>">
                <%= link_to 'Home', root_url %>
              </li>
              <li class="text-center <%= active_class(:about) %>">
                <%= link_to 'About', about_url %>
              </li>
              <li class="text-center <%= active_class(:services) %>">
                <%= link_to 'Services', services_url %>
              </li>
              <li class="text-center <%= active_class(:team) %>">
                <%= link_to 'Team', team_url %>
              </li>
              <li class="text-center <%= active_class(:contact) %>">
                <%= link_to 'Contact', contact_url %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-8 col-md-4">
          <div class="footer-wrapper">
            <ul class="social-media text-center">
               <li>
                    <%= link_to 'https://www.facebook.com/kalculators/', target:'_blank' do %>
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'https://twitter.com/TheKalculators/', target:'_blank' do %>
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    <% end %>
                  </li>
                  <li>
                     <%= link_to 'https://www.linkedin.com/in/the-kalculators-126695144/', target:'_blank' do %>
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <% end %>
                  </li>
                  <li>
                     <%= link_to 'https://www.instagram.com/thekalculators/', target:'_blank' do %>
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    <% end %>
                  </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-section text-center">
    <div class="container">
      <p class="inline-block">2017 © All rights reserved by
        <span>
          <%= link_to 'TheKalculators', root_url %>
        </span>
      </p>
    </div>
  </div>
</footer>
