  <header class="header-section">
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <%= link_to root_url do %>
              <%= image_tag 'logo-black.jpg', class: 'logo' %>
            <% end %>
          </div>
            <div class="col-md-6 col-md-offset-1 col-sm-6">
              <div class="header-left-bar text-right hidden-sm hidden-xs">
                <ul class="contact-wrapper">
                  <li><i class="fa fa-clock-o" aria-hidden="true"></i> Mon - Fri: 9 am - 7 pm</li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i> 08 7480 2593</li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-12">
              <div class="header-right-bar hidden-sm hidden-xs">
                <ul class="social-icon">
                  <li>
                    <%= link_to 'https://www.facebook.com/kalculators/', target:'_blank' do %>
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'https://twitter.com/TheKalculators/', target:'_blank' do %>
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    <% end %>
                  </li>
                  <li>
                     <%= link_to 'https://www.linkedin.com/in/the-kalculators-126695144/', target:'_blank' do %>
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <% end %>
                  </li>
                  <li>
                     <%= link_to 'https://www.instagram.com/thekalculators/', target:'_blank' do %>
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    <% end %>
                  </li>

                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="container">
      <nav class="navbar navbar-inverse hidden-sm hidden-xs">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class='<%= active_class(:index) %>'>
                <%= link_to 'Home', root_url %>
              </li>
              <li class='<%= active_class(:about) %>'>
                <%= link_to 'About', about_url %>
              </li>
              <li class='<%= active_class(:services) %>'>
                <%= link_to 'Services', services_url %>
              </li>
              <li class='<%= active_class(:team) %>'>
                <%= link_to 'Team', team_url %>
              </li>
              <li class="mapdrop dropdown <%= active_class(:contact) %>">
                <%= link_to 'Contact', contact_url %>
                <ul class="map-menu">
                  <li>
                    <div class="author-details">
                      <h4>SALISBURY</h4>
                      <div class="item">
                        <div class="content">
                          <span class="number"><i class="fa fa-phone" aria-hidden="true"></i> 08 7480 2593</span>
                          <span class="message"><i class="fa fa-envelope" aria-hidden="true"></i> madeeha@thekalculators.com.au </span>
                        </div>
                      </div>
                    </div>
                    <div class="author-details">
                      <h4>BLAIR ATHOL</h4>
                      <div class="item">
                        <div class="content">
                          <span class="number"><i class="fa fa-phone" aria-hidden="true"></i> 08 7480 2593</span>
                          <span class="message"><i class="fa fa-envelope" aria-hidden="true"></i> kaleem@thekalculators.com.au</span>
                        </div>
                      </div>
                    </div>
                  <div class="author-details">
                      <h4>MURRAY BRIDGE</h4>
                      <div class="item">
                        <div class="content">
                          <span class="number"><i class="fa fa-phone" aria-hidden="true"></i> 08 7480 2593</span>
                          <span class="message"><i class="fa fa-envelope" aria-hidden="true"></i> hafiz@thekalculators.com.au</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="map-section pull-right">
                      <div id="menuMap"></div>
                    </div>
                  </li>
                </ul>
              </li>
          </ul>
          <ul class="access navbar-right">
            <li>
              <%= link_to 'Client Portal', 'https://cloud1.sagehandisoft.com.au/ClientPortal/Account/Login/', target:"_blank" %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
