<!DOCTYPE html>
<html>
  <head>
    <title>Kalculators</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png' %>
  </head>
  <body id='top' class='about-page <%= custom_body_class %>'>
     <div id="preloader">
      <%= image_tag 'loader.gif' %>
    </div>
    <div id="main-wrapper">
      <%= render partial: 'layouts/header' %>
      <%= yield %>
     <%= render 'home/offcanvas' %>
     <%= render partial: 'home/overlay_footer' %>
    </div>
    <%= render partial: 'layouts/footer' %>
 </body>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2d0L5Q8cLifm_ZbUqkTjuF4onZ_RXPpM"></script>
</html>
